{
  "extends": "airbnb",
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "blockBindings": true
    },
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "node": true
  },
  "rules": {
    "comma-dangle": ["error", "never"],
    "func-names": 1,
    "no-param-reassign": 1,
    "no-restricted-syntax": [1, "FunctionExpression", "WithStatement"],
    "guard-for-in": 1,
    "space-infix-ops": 1
  }
}
