body {
  background-color: white;
}

#services {
  background-color: #f8f8f8;
  padding-bottom: 50px;
}

#single {
  margin-top: 100px;
}

.problems-list {
  border: 1px solid #ababab;
  background: white;
  padding: 0 15px;
}

.row-a {
    padding-top: 10px;
    padding-bottom: 10px;
}

.row-a:hover {
  background-color: #f8f8f8;
}

.row-a .section-heading {
  margin-bottom: 10px;
  border: none;
}

.row-b {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #e7e7e7;
}

.row-b:hover {
  background-color: #f8f8f8;
}

.row-b .section-heading {
  margin-bottom: 10px;
  border: none;
}

footer {
  margin-top: 50px;
}